$primary-color: hsl(50, 80%, 50%);
$secondary-color: hsl(226, 80%, 50%);

@font-face {
  font-family: Roboto_Regular;
  src: url(/static/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto_Bold;
  src: url(/static/fonts/Roboto-Bold.ttf);
}

body {
  font-family: Roboto_Regular;
}
.dark-mode{
  color: white;
  background-color: black;
   a{
    .left{
       display: none;
    }
  }
}
.flexmaster {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex: 1;
  align-items: stretch;
  flex-wrap: nowrap;
}

.div_1{ 
  flex-direction: column;
  align-items: center;
  display: flex;
  ul {
      display: flex;
      align-items: center;
      border-radius: 3px;
      text-decoration: none;
      list-style: none;
      list-style-type: none;
      line-break: auto;
      background-color: $primary-color;
      padding: 14px 16px;
      display: flex;
      font-size: x-large;
      overflow: hidden;
      justify-content: center;

      a:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
    }
}
  .div_1 a {
  background-color: $primary-color;
  color: $secondary-color;

  text-decoration: none;
  padding: 14px 16px;
  font-family: Roboto_Bold;
}
a:link {
  color: $secondary-color;
}
/* visited link */
a:visited {
  color: $secondary-color;
}
/* selected link */
a:active {
  color: $secondary-color;
}

@for $i from 1 through 4 {
  .div_#{$i} {
    //border: 1px solid black;
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.yes_no {
  input {
    background-color: transparent;
    border-style: ridge;
    width: 7.5%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: Roboto_Bold;
    font-size: x-large;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    border-width: 2px;
  }

  input[value="Ja"] {
    margin: 25px 25px 25px 40%;
    padding: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: #a3e77f;
    border-color: #a3e77f;
  }

  input[value="Nein"] {
    margin: 25px 0px 25px 25px;
    padding: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    color: red;
    border-color: red;
  }
}

.StartButton,.StartButton1 {
  input {
    color: #444444;
    background-color: #e6c41a;
    border-color: #444444;
    border-width: 0.5;
    border-style: ridge;
    font: x-large;
    font-family: Roboto_Bold;
    margin: 0px;
    padding: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    border-width: 2px;
    border-radius: 8px;
  }
}
.StartButton1{
  font-size: x-large;
}
form {
  margin: 0 auto;
}
.div_3{
  align-items: center;
}

.left{
  align-items: left;
}