@font-face {
    font-family: Roboto_Regular;
    src: url();
}

body{
    font-family: Roboto_Regular;
  }

.flexmaster{
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex: 1;
  flex-wrap: nowrap;
}

@for $i from 1 through 4 {
  .div_#{$i} {
    border: 1px solid black;
    flex: 1 1 auto; 

    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
