{% extends 'header.html' %}
{% block body %}
    <section class="flexmaster">
        
        <div class="div_1">
            <!--nav bar-->
            <ul>
                <img src="{{ url_for('static',filename='/img/Logo_GIF.gif') }}" alt="" width="5%" ></li>
                <li><a href="{{ url_for('static',filename='templates/index.html') }}">Home</a></li>
                <li><a href="https://jugendhackt.org/events/frankfurt/">Jugendhackt Frankfurt</a></li>
                <li><a href="/summary">Unser Projekt</a></li>
            </ul>
        </div>
        <div class="div_2">
            <!--Platzhalter-->
        </div>
        <div class="div_3">
            <!--Frage-->
            {{ questiontitle }}
            {{ question }}
        </div>
        <form class="StartButton" action="/api" method="post">
            <input type="submit" value="Start" name="Start">
        </form>
        <div class="div_4">
            <!--Platzhalter-->

        </div>
        <div class="div_5">
            <!--Answer-->
            {% include "yes_no.html" %}
            <h1>{{ answer }}</h1>
        </div>

        
    </section>
{% endblock %}

{% include "footer.html" %}