{% extends 'header.html' %}
{% block body %}
    <script src="./dark_mode.js"></script>

    <section class="flexmaster">

        <div class="div_1">
            <!--nav bar-->
            <ul>
                <img src="{{ url_for('static',filename='/img/Logo_GIF.gif') }}" alt="" width="5%" ></li>
                <li><a href="/">Home</a></li>
                <li><a href="https://jugendhackt.org/events/frankfurt/">Jugendhackt Frankfurt</a></li>
                <li><a href="/summary">Unser Projekt</a></li>
                <li class="left"><a onclick="darkmode();setCookie('darkmode','true',7)">🌚</a></li>
            </ul>

            <br>
            <br>
        </div>
        <div class="div_2">
            <!--Platzhalter-->
        </div>
        <div class="div_3">
            {% if stoped %}
            <h1>Ergebnis</h1>
            {% endif %}
            <!--Frage-->
            {{ questiontitle }}
            <h1>{{ question }}</h1>
        </div>
        {% if not started %}
            <form class="StartButton" action="/start" method="post">
                <input type="submit" class="StartButton1" value="Start" name="Start">
            </form>
        {% endif %}
        <div class="div_4">
            <!--Platzhalter-->

        </div>
        <div class="div_5">
            <!--Answer-->

            {% if started and not stoped %}
            {% include "yes_no.html" %}
            <h1>{{ answer }}</h1>
            {% endif %}

        </div>

        {% if started  %}
        <form class="StartButton" action="/restart" method="post">
            <input type="submit" value="Neustarten (Löscht alle Cookies)" name="Neustarten">
        </form>
        {% endif %}

    </section>
{% endblock %}

{% include "footer.html" %}
