{% extends 'header.html' %}
{% block body %}
    <section class="flexmaster">
        
        <div class="div_1">
            <!--nav bar-->
            <ul>
                <img src="{{ url_for('static',filename='/img/Logo_GIF.gif') }}" alt="" width="5%" height="5%" >
                <li><a href="{{ url_for('static',filename='templates/index.html') }}">Start</a></li>
            </ul>
        </div>
        <div class="div_2">
            <!--Platzhalter-->
        </div>
        <div class="div_3">
            <!--Frage-->

        </div>
        <div class="div_4">
            <!--Platzhalter-->

        </div>
        <div class="div_5">
            <!--Fine print-->
        </div>

        <form action="/api" method="post">
            <input type="submit" value="Start" name="Start">
        </form>
    </section>
{% endblock %}

{% include "footer.html" %}